development:
  adapter:  mysql2
  encoding: utf8
  database: myapp_development
  username: root
  password: root
  host:     localhost
  port:     3306

test:
  adapter:  mysql2
  encoding: utf8
  database: myapp_test
  username: root
  password: root
  host:     localhost
  port:     3306

production:
  adapter:  mysql2
  encoding: utf8
  database: myapp_production
  username: root
  password: root
  host:     localhost
  port:     3306
